/* Needed Styles
  - Image class
  - Icons class

  Text
  - Title

  Components
  - Projects tile
  - Text section
  - Input boxes

  Mobile layout:
  - Carousel selector arrows
*/

.section {
  width: 100%;
}

.section-header-1 {
  font-size: 3em;
}

.section-header-2 {
  font-size: 2em;
}

.test {
  background-color: "secondary.main";
  color: "secondary.contrastText";
  padding: 2;
}
